@charset "UTF-8";

/*
    tudo que em HTML é "id" em CSS é # (só pode um elemento)
    tudo que em HTML é "class" em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(169, 236, 169);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(5, 85, 5);
}

h1#principal {
    text-align: center;
    background-color:  rgb(5, 85, 5);
    color: white;
}

h2 {
    color: rgb(42, 150, 42);
}

.basico {
    color: rgb(42, 150, 42);
    font-weight: bold;
}

.intermediario {
    color: rgb(150, 125, 42)
}

.avancado {
    color: rgb(150, 42, 42);
}

.destaque {
    background-color: rgba(224, 240, 1, 0.425);
}