@charset "UTF-8";

/* Configurações gerais */

 * {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
 }

 html, body {
    width: 100vw; /* Se atentar sempre para o "vw" e "vh" */
    height: 100vh; /* Se atentar sempre para o "vw" e "vh" */
    background-color: #233eff;
    background-size: contain; /* vai carregar toda a imagem, sem cortar */
    background-repeat: no-repeat;
 }

 h1 {
    color: white;
    text-shadow: 2px 2px 0px #1526a7;
    padding: 10px;
 }